* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

/* Utility */
.btn_small{
    padding: 10px 15px;
}

.btn_large{
    padding: 15px 25px;
    height: 54px;
    min-height: 54px;
}

.btn_white{
    background-color: #fff;
    color: #23272a;
}

.btn_dark{
    background-color: #23272a;
    color: #fff;
}

.spacer_btn{
    margin-right: 30px;
}

.spacer_btn:last-child{
    margin-right: 0;
}

.t-white{
    color: #fff;
}

.t-dark{
    color: #23272a;
}

.textbtn{
    font-size: 17px;
    font-weight: 500;
    margin-left: 10px;
}

.d-flex{
    display: flex;
}

.fd-column{
    flex-direction: column;
}

.a-center{
    align-items: center;
}

.j-center{
    justify-content: center;
}

.j-spb{
    justify-content: space-between;
}

.text-a-center{
    text-align: center;
}

.bg-blue{
    background-color: #2A5EE8;
}

/* Hero */
.hero {
    width: 100%;
}

/* Header */
.header {
    width: 100%;
    height: 80px;
    padding: 0 200px;
}

.listItem {
    margin-right: 40px;
}

.listItem:last-child {
    margin-right: 0;
}

.listItem a{
    color: #fff;
    font-size: 13px;
    font-weight: 400;
}

.listItem a:hover{
    text-decoration: underline;
}

.btn{
    border: none;
    font-size: 13px;
    font-weight: 400;
    border-radius: 30px;
    cursor: pointer;
}

/* Container Hero */

.container_hero {
    width: 100%;
    height: 425px;
    padding: 30px 0;
    background-image: url(../_resources/imgs/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ctHero {
    width: 60%;
    height: 100%;
}

.title_hero{
    color: #fff;
    font-size: 44px;
    font-weight: 700;
}

.container_description{
    margin: 20px 0 20px;
}

.description{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}

.container_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main */
main {
    width: 100%;
}

/* Container info */
.container{
    background-color: #fff;
}

.container_grey_bg{
    background-color: #F6F6F6;
}

.just_center{
    width: 60%;
    min-height: 500px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_left{
    background-color: green;
    width: 70%;
    height: 300px;
}

.box_right{
    background-color: orange;
    width: 30%;
    height: 300px;
}

.reverse_lt{
    width: 30%;
}

.reverse_rt{
    width: 70%;
}

/* Container info center */

.flex_di_col{
    flex-direction: column;
}

.imageWrap{
    background-color: chocolate;
    width: 100%;
    height: 600px;
}

/* Footer */

.footer{
    background-color: blueviolet;
    width: 100%;
    padding: 70px 200px;
}

.foo_view_container_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box{
    background-color: red;
    width: 16%;
    height: 400px;
}

.box.box_large{
    background-color: yellow;
    width: 30%;
}

.lineDivisor{
    width: 100%;
    height: 1px;
    margin: 30px 0;
    background-color: greenyellow;
}

.foo_view_container_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}